@use 'utils' as u;

.form {
    width: 466px;
    position: relative;
    display: flex;
    @include u.media('desktop', max){
        flex-direction: column;
    }
    @include u.media('tablet-medium', max){
        width: 100%;
        margin-bottom: 66px;
    }
    &__input {
        background: u.$color-white;
        box-shadow: 0 0 0 1px u.$color-bg-grey;
        border-radius: 20px;
        width: 100%;
        height: 80px;
        padding: 26px 16px;
        @include u.media('desktop', max){
            height: 47px;
            border-radius: 12px;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        @include u.media('desktop', max){
            position: static;
            transform: translateY(20%);
        }
    }
}
