@use '../components/utils' as u;

.hero {
    padding-top: 104px;
    min-height: calc(100vh - 104px);
    background-color: u.$color-bg-grey;
    border-radius: 0px 0px 40px 40px;
    position: relative;
    overflow: hidden;
    
    &__container {
        display: flex;
        align-items: center;
        min-height: 100vh;
        padding-bottom: 74px;
        @include u.media('tablet-medium', max){
            flex-direction: column;
        }

    }

    &__info {
        width: u.percent(820, 1158);
        z-index: 3;
        @include u.media('tablet-medium', max){
            width: 100%;
        }
    }
    &__descriprtion {
        margin-bottom: 106px;
        @include u.media('tablet-medium', max){
            margin-bottom: 72px;
        }
    }

    &__form {
        
    }

    &__images {
        @include u.padding-hack(35%);
        width: 257px;
        z-index: 2;
        @include u.media('tablet-medium', max){
            @include u.padding-hack(70%);
        }
        @include u.media('phone-wide', max){
            @include u.padding-hack(100%);
        }
    }
    &__background {
        position: absolute;
        top: 0;
        right: -8%;
        height: 100%;
        z-index: 1;
        @include u.media('desktop-wide'){
            //right: 0;
            width: 45vw;
        }
        @include u.media('tablet-wide', max){
            right: -20%;
        }
        @include u.media('tablet-medium', max){
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__background-image {
        @include u.media('tablet-medium', max){
            display: none;
        }
    }
    &__background-image-mob {
        display: none;
        @include u.media('tablet-medium', max){
            position: absolute;
            display: block;
            width: 100vw;
            left: 0;
            right: 0;
            bottom: 0;
            height: 180px;
            z-index: 100;
        }
    }
}


