@use '../components/utils' as u;


.implement {
    padding-top: 70px;
    padding-bottom: 70px;

    &__title {
        margin-bottom: 40px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: u.rem(32);
        line-height: 39px;
        color: u.$base-font-color;
        margin-bottom: 40px;
        @include u.media('desktop', max){
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__wrp {
        @include u.padding-hack(68%);
        @include u.media('desktop-wide'){
            width: 1440px;
            margin: 0 auto;
            @include u.padding-hack(35%);
        }
    }
}