// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #FFFFFF;
$color-bg-grey: #EEF0F2;
$dark-purple: #423C9D;
$purple: #635DFF;
$pink: #FE495B;

// FONTS
$primary-font: 'Inter';
$base-font-size: 16px;
$base-font-color: #1E212A;
$gray-font-color: #65676E;

// OFFSET
$mobile-container-padding-x: 16px;
